4.1.1: Getting Started with Pandas

In [28]:
'''
Scotch -
    price for complexity and variety of flavors
    classify Whiskey with flavors

Bokeh -
    library for web browsers
    interactive visualization

Panda -
    Python lib designed to query and manipulate annoted data tables
    Data structure and functions to deal with tabular data
    built on top of NumPy
    features like - summerize data, compute correlations, handle missing data and many more
    Data structure -
        series : 1d array like object
        data frame : 2d array like object - table
        plus meta data
'''

'\nScotch -\n    price for complexity and variety of flavors\n    classify Whiskey with flavors\n\nBokeh -\n    library for web browsers\n    interactive visualization\n\nPanda -\n    data structure and functions to deal with tabular data\n    built on top of NumPy\n    features like - summerize data, compute correlations, handle missing data and many more\n    Data structure -\n        series : 1d array like object\n        data frame : 2d array like object - table\n        plus meta data\n'

In [2]:
import pandas as pd

In [3]:
x = pd.Series([6,3,8,6])
x #data and index start at 0

0    6
1    3
2    8
3    6
dtype: int64

In [5]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [6]:
x["w"]

3

In [7]:
x[["w","r"]]

w    3
r    6
dtype: int64

In [8]:
age={"Tim":29, "Jim":31, "Pam":27, "Sam":35}

In [9]:
x = pd.Series(age)
x #keys sorted order

Jim    31
Pam    27
Sam    35
Tim    29
dtype: int64

In [11]:
data = {
    'name':['Tim','Jim', 'Pam', 'Sam'],
    'age' :[29,31,27,35],
    'zip' : ['02115', '02130', '67700', '00100']
}
data

{'age': [29, 31, 27, 35],
 'name': ['Tim', 'Jim', 'Pam', 'Sam'],
 'zip': ['02115', '02130', '67700', '00100']}

In [17]:
x =pd.DataFrame(data, columns=["name", "age", "zip"])
x

  name  age    zip
0  Tim   29  02115
1  Jim   31  02130
2  Pam   27  67700
3  Sam   35  00100

In [19]:
x['name']

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [20]:
x.name #like attribute

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [21]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [22]:
x.index

Index(['q', 'w', 'e', 'r'], dtype='object')

In [23]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [24]:
x.reindex(sorted(x.index))

e    8
q    6
r    6
w    3
dtype: int64

In [25]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [26]:
y = pd.Series([7,3,5,2], index =["e","q","r","t"])
y

e    7
q    3
r    5
t    2
dtype: int64

In [27]:
x + y

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64