4.1.1: Getting Started with Pandas

In [28]:
'''
Scotch -
    price for complexity and variety of flavors
    classify Whiskey with flavors

Bokeh -
    library for web browsers
    interactive visualization

Panda -
    Python lib designed to query and manipulate annoted data tables
    Data structure and functions to deal with tabular data
    built on top of NumPy
    features like - summerize data, compute correlations, handle missing data and many more
    Data structure -
        series : 1d array like object
        data frame : 2d array like object - table
        plus meta data
'''

'\nScotch -\n    price for complexity and variety of flavors\n    classify Whiskey with flavors\n\nBokeh -\n    library for web browsers\n    interactive visualization\n\nPanda -\n    data structure and functions to deal with tabular data\n    built on top of NumPy\n    features like - summerize data, compute correlations, handle missing data and many more\n    Data structure -\n        series : 1d array like object\n        data frame : 2d array like object - table\n        plus meta data\n'

In [2]:
import pandas as pd

In [3]:
x = pd.Series([6,3,8,6])
x #data and index start at 0

0    6
1    3
2    8
3    6
dtype: int64

In [5]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [6]:
x["w"]

3

In [7]:
x[["w","r"]]

w    3
r    6
dtype: int64

In [8]:
age={"Tim":29, "Jim":31, "Pam":27, "Sam":35}

In [9]:
x = pd.Series(age)
x #keys sorted order

Jim    31
Pam    27
Sam    35
Tim    29
dtype: int64

In [11]:
data = {
    'name':['Tim','Jim', 'Pam', 'Sam'],
    'age' :[29,31,27,35],
    'zip' : ['02115', '02130', '67700', '00100']
}
data

{'age': [29, 31, 27, 35],
 'name': ['Tim', 'Jim', 'Pam', 'Sam'],
 'zip': ['02115', '02130', '67700', '00100']}

In [17]:
x =pd.DataFrame(data, columns=["name", "age", "zip"])
x

  name  age    zip
0  Tim   29  02115
1  Jim   31  02130
2  Pam   27  67700
3  Sam   35  00100

In [19]:
x['name']

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [20]:
x.name #like attribute

0    Tim
1    Jim
2    Pam
3    Sam
Name: name, dtype: object

In [21]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [22]:
x.index

Index(['q', 'w', 'e', 'r'], dtype='object')

In [23]:
sorted(x.index)

['e', 'q', 'r', 'w']

In [24]:
x.reindex(sorted(x.index))
#reorders indices of a pandas series object according to its argument

e    8
q    6
r    6
w    3
dtype: int64

In [25]:
x = pd.Series([6,3,8,6], index =["q","w","e","r"])
x

q    6
w    3
e    8
r    6
dtype: int64

In [26]:
y = pd.Series([7,3,5,2], index =["e","q","r","t"])
y

e    7
q    3
r    5
t    2
dtype: int64

In [27]:
x + y

e    15.0
q     9.0
r    11.0
t     NaN
w     NaN
dtype: float64

4.1.2 Loading and Inspecting data

In [29]:
import numpy as np
import pandas as pd

In [34]:
whisky = pd.read_csv(".\python_case_studies\Whiskies\Whiskies.txt")
whisky.head()

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
0,1,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,\tPH15 2EB,286580,749680
1,2,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,\tAB38 9PJ,326340,842570
2,3,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,\tAB5 5LI,352960,839320
3,4,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,\tPA42 7EB,141560,646220
4,5,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,\tAB54 4NH,355350,829140

In [37]:
whisky.tail()

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
81,82,Tobermory,1,1,1,0,0,1,0,0,1,2,2,2,PA75 6NR,150450,755070
82,83,Tomatin,2,3,2,0,0,2,2,1,1,2,0,1,IV13 7YT,279120,829630
83,84,Tomintoul,0,3,1,0,0,2,2,1,1,2,1,2,AB37 9AQ,315100,825560
84,85,Tormore,2,2,1,0,0,1,0,1,2,1,0,0,PH26 3LR,315180,834960
85,86,Tullibardine,2,3,0,0,1,0,2,1,1,2,2,1,PH4 1QG,289690,708850

In [39]:
region = pd.read_csv(".\python_case_studies\Whiskies\Regions.txt")
region.head()

  #####Regions#####
0         Highlands
1          Speyside
2         Highlands
3             Islay
4         Highlands

In [40]:
region.tail()

   #####Regions#####
81           Islands
82         Highlands
83          Speyside
84          Speyside
85         Highlands

In [41]:
whisky.iloc[0:10] #start:inclusive, end:exclusive

,RowID,Distillery,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral,Postcode,Latitude,Longitude
0,1,Aberfeldy,2,2,2,0,0,2,1,2,2,2,2,2,\tPH15 2EB,286580,749680
1,2,Aberlour,3,3,1,0,0,4,3,2,2,3,3,2,\tAB38 9PJ,326340,842570
2,3,AnCnoc,1,3,2,0,0,2,0,0,2,2,3,2,\tAB5 5LI,352960,839320
3,4,Ardbeg,4,1,4,4,0,0,2,0,1,2,1,0,\tPA42 7EB,141560,646220
4,5,Ardmore,2,2,2,0,0,1,1,1,2,3,1,1,\tAB54 4NH,355350,829140
5,6,ArranIsleOf,2,3,1,1,0,1,1,1,0,1,1,2,KA27 8HJ,194050,649950
6,7,Auchentoshan,0,2,0,0,0,1,1,0,2,2,3,3,G81 4SJ,247670,672610
7,8,Auchroisk,2,3,1,0,0,2,1,2,2,2,2,1,\tAB55 3XS,340754,848623
8,9,Aultmore,2,2,1,0,0,1,0,0,2,2,2,2,\tAB55 3QY,340754,848623
9,10,Balblair,2,3,2,1,0,0,2,0,2,1,2,1,\tIV19 1LB,270820,885770

In [42]:
whisky.iloc[5:10, 0:5] #row, column

   RowID    Distillery  Body  Sweetness  Smoky
5      6   ArranIsleOf     2          3      1
6      7  Auchentoshan     0          2      0
7      8     Auchroisk     2          3      1
8      9      Aultmore     2          2      1
9     10      Balblair     2          3      2

In [43]:
whisky.columns

Index(['RowID', 'Distillery', 'Body', 'Sweetness', 'Smoky', 'Medicinal',
       'Tobacco', 'Honey', 'Spicy', 'Winey', 'Nutty', 'Malty', 'Fruity',
       'Floral', 'Postcode', ' Latitude', ' Longitude'],
      dtype='object')

In [44]:
flavors = whisky.iloc[:,2:14]

In [45]:
flavors

,Body,Sweetness,Smoky,Medicinal,Tobacco,Honey,Spicy,Winey,Nutty,Malty,Fruity,Floral
0,2,2,2,0,0,2,1,2,2,2,2,2
1,3,3,1,0,0,4,3,2,2,3,3,2
2,1,3,2,0,0,2,0,0,2,2,3,2
3,4,1,4,4,0,0,2,0,1,2,1,0
4,2,2,2,0,0,1,1,1,2,3,1,1
5,2,3,1,1,0,1,1,1,0,1,1,2
6,0,2,0,0,0,1,1,0,2,2,3,3
7,2,3,1,0,0,2,1,2,2,2,2,1
8,2,2,1,0,0,1,0,0,2,2,2,2
9,2,3,2,1,0,0,2,0,2,1,2,1
10,4,3,2,0,0,2,1,3,3,0,1,2
11,3,2,1,0,0,3,2,1,0,2,2,2
12,4,2,2,0,0,2,2,0,2,2,2,2
13,2,2,1,0,0,2,2,0,0,2,3,2
14,3,2,2,0,0,3,1,1,2,3,2,2
15,2,2,2,0,0,2,2,1,2,2,2,2
16,1,2,1,0,0,0,1,1,0,2,2,3
17,2,2,2,0,0,1,2,2,2,2,2,2
18,2,2,3,1,0,2,2,1,1,1,1,2
19,1,1,2,2,0,2,2,1,2,2,2,2
20,1,2,1,1,0,1,1,1,1,2,2,3
21,3,1,4,2,1,0,2,0,2,1,1,1
22,1,3,1,0,0,1,1,0,2,2,2,2
23,3,2,3,3,1,0,2,0,1,1,2,0
24,2,2,2,0,1,2,2,1,2,2,1,4
25,2,3,2,1,0,0,1,0,2,2,2,2
26,4,2,2,0,0,1,2,2,2,2,2,1
27,3,2,2,1,0,1,2,2,1,2,3,1
28,2,2,2,0,0,2,1,0,1,2,2,2
29,2,2,1,0,0,2,1,1,1,3,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
56,2,3,1,0,0,2,2,1,2,1,2,2
57,4,1,4,4,1,0,1,2,1,1,1,0
58,4,2,4,4,1,0,0,1,1,1,0,0
59,2,3,1,0,0,1,1,2,0,1,3,2
60,1,1,1,1,0,1,1,0,1,2,1,2
61,3,2,1,0,0,1,1,1,3,3,2,3
62,4,3,1,0,0,2,1,4,2,2,3,1
63,2,1,1,0,0,1,1,1,2,1,2,2
64,2,4,1,0,0,1,0,0,2,1,1,2
65,3,2,2,0,0,2,3,3,2,1,2,2
66,2,2,2,2,0,0,2,0,2,2,2,0
67,1,2,2,0,1,2,2,1,2,3,1,1
68,2,1,2,2,1,0,1,1,2,2,2,2
69,2,3,2,1,1,1,2,1,0,2,3,2
70,3,2,2,0,0,2,2,2,2,2,3,1
71,2,2,1,1,0,2,1,1,2,2,2,2
72,2,4,1,0,0,2,1,0,0,2,1,2
73,2,2,1,0,0,1,0,1,2,2,2,2
74,2,2,2,2,0,2,2,1,2,1,0,1
75,2,2,1,0,0,2,2,2,3,3,3,2
76,2,3,1,0,0,0,2,0,2,1,3,2
77,4,2,3,3,0,1,3,0,1,2,2,0
78,1,2,1,0,0,2,0,1,1,2,2,2
79,1,3,2,0,0,0,2,0,2,1,2,3
80,2,2,2,1,0,0,2,0,0,0,2,2
81,1,1,1,0,0,1,0,0,1,2,2,2
82,2,3,2,0,0,2,2,1,1,2,0,1
83,0,3,1,0,0,2,2,1,1,2,1,2
84,2,2,1,0,0,1,0,1,2,1,0,0
85,2,3,0,0,1,0,2,1,1,2,2,1