# 1.1.2 Objects and Relation

In [1]:
'''
Object Types- 
    mutable objects - immutable objects

object characteristics - operation it supports, diff functionality based on object type
	Type - number, string etc
	value - 
	identity - id #

Object Attributes-
    dot separator
    data
    methods

instance- 
    occurance of object, 
    both support same method but might have different values

Modules-
    python power in libraries
    built in functions - 
    import modules first import statement- then call methods 
'''

In [2]:
import numpy as np

In [3]:
x = np.array([1,3,5])

In [4]:
y = np.array([1,5,9])

In [5]:
x.mean() #method attribute

3.0

In [6]:
y.mean()

5.0

In [7]:
x.shape #data attribute

(3,)

In [8]:
y.shape

(3,)

In [9]:
id(x) #id attribute

117883248

In [10]:
id(y)

117883648

# 1.1.2 Modules and Methods

In [11]:
'''
modules-
    libraries of codes
    use import statement
'''

'\nmodules-\n    libraries of codes\n    use import statement\n'

In [12]:
import math

In [13]:
math.pi

3.141592653589793

In [14]:
math.sqrt(10)

3.1622776601683795

In [15]:
math.pi/2

1.5707963267948966

In [16]:
math.sin(math.pi/2)

1.0

In [17]:
from math import pi #import specific value rather than the entire library

In [18]:
'''
namespace - 
    Container of names shared by object that typically go together
'''

'\nnamespace - \n    Container of names shared by object that typically go together\n'

In [19]:
import math

In [20]:
import numpy as np

In [21]:
math.sqrt(2)

1.4142135623730951

In [22]:
np.sqrt(2)

1.4142135623730951

In [23]:
np.sqrt([2,3,4])

array([1.41421356, 1.73205081, 2.        ])

In [24]:
math.sqrt([2,3,4])

TypeError: must be real number, not list

In [25]:
name = "Uday"

In [26]:
type(name)

str

In [27]:
dir(name) #functions available with the name - String

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
dir(str) #alternative method to find methods of String

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
#help with spectific function
help(name.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [30]:
name.upper()

'UDAY'

In [31]:
help(name.upper())

No Python documentation found for 'UDAY'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

# 1.1.4 Numbers and Basic Calculations

In [32]:
'''
Numbers- 
    3 type of object. 
    - int, 
    - float, 
    - complex
'''

'\nNumbers- \n    3 type of object. \n    - int, \n    - float, \n    - complex\n'

In [33]:
123 +34

157

In [34]:
123*34

4182

In [35]:
123**34

113965602005968684136628000184496763088921243891670079405854808234118809

In [36]:
'''
python int -unlimited precision
'''
123**346

1279877952993183051986973539604845164416502513636346705337170803726411025470749464897274458094310027641538403518886772068488210006918966065002745378030506752815208386095764374685642192590355701456767512307455831844488073669576026147705432794539033341622755897229329028952926324944572455578003530422162490192737668724135468477263743083781375703499001749442753140695971740546882894076188576764094165156251094543104669302266425775912388758194755702455716165725687931375468343083606167626986374976052558604362620944429374122151363071848651455023789260278600817905457022206926013298176238393676651051826250474676095298384047395387036298078336490772683893323215883862175177614072650597066235050748159816567023166274121731646191289

In [37]:
15/7

2.142857142857143

In [38]:
#integer division
15//7

2

In [39]:
15 / 2.3

6.521739130434783

In [40]:
_

6.521739130434783

In [41]:
_ * 2.3

15.0

In [42]:
10 * 2

20

In [43]:
_ + 5

25

In [44]:
_ **2

625

In [45]:
import math

In [46]:
math.factorial(3)

6

# 1.1.5 Random Choice

In [47]:
import random

In [48]:
random.choice([2,44,55,66])

44

In [49]:
random.choice([2,44,55,66])

55

In [50]:
random.choice(["aa","bb","cc"])

'bb'

# 1.1.6 Expressions & Booleans

In [51]:
type(True)

bool

In [52]:
type(true)

NameError: name 'true' is not defined

In [53]:
True or False

True

In [54]:
True and False

False

In [55]:
not True

False

In [56]:
2 < 4

True

In [57]:
2  <= 2

True

In [58]:
2 == 2

True

In [59]:
2 != 2

False

In [60]:
[2,3] == [3,3]

False

In [61]:
[2,3] == [2,3] #contents comparison

True

In [62]:
[2,3] == [3,2]

False

In [63]:
[2,3] is [2,3] #object comparison - check same identity

False

In [64]:
2 == 2.0 #typecast 2 from int to float

True

In [65]:
True is True

True

In [66]:
True and not False is True

True

In [67]:
not False is True

True

In [68]:
a=1
b=1

In [69]:
a==b

True

In [70]:
a is b

True

In [71]:
id(a)

1932815840

In [72]:
id(b)

1932815840

# 1.2.1 Sequence

In [73]:
'''
Sequence - 
    tuple, 
    Lists, 
    range
'''

'\nSequence - \n    tuple, \n    Lists, \n    range\n'

In [74]:
(1,2,3)

(1, 2, 3)

In [75]:
(1,2,3)[0]

1

In [76]:
(1,2,3)[1]

2

In [77]:
(1,2,3)[-0]

1

In [78]:
(1,2,3)[-1]

3

In [79]:
(1,2,3)[0:2]

(1, 2)

In [80]:
(1,2,3)[-0:0]

()

# 1.2.2 Lists

In [81]:
'''
Lists-
    Mutable
    Mostly store homogeneous objects
    
    List has in-place methods 
    
String-
    Immutable
    Mostly store sequence of String
'''

'\nLists-\n    Mutable\n    Mostly store homogeneous objects\n    \n    List has in-place methods \n    \nString-\n    Immutable\n    Mostly store sequence of String\n'

In [82]:
numbers = [2,4,6,8]

In [83]:
numbers[0]

2

In [84]:
numbers[-1]

8

In [85]:
#List has in-place methods 
numbers.append(10)

In [86]:
numbers

[2, 4, 6, 8, 10]

In [87]:
x = [12,14,16]

In [88]:
numbers + x

[2, 4, 6, 8, 10, 12, 14, 16]

In [89]:
type(_)

list

In [90]:
n1 = [1,3,5,7,11,13,17,19,23]

In [91]:
n1.reverse()

In [92]:
n1

[23, 19, 17, 13, 11, 7, 5, 3, 1]

In [93]:
n2= ["Zoya", "Alex", "Morgan"]

In [94]:
n2.sort()

In [95]:
n2

['Alex', 'Morgan', 'Zoya']

In [96]:
n2.reverse()

In [97]:
n2

['Zoya', 'Morgan', 'Alex']

In [98]:
sorted_names = sorted(n2)

In [99]:
sorted_names

['Alex', 'Morgan', 'Zoya']

In [100]:
n2

['Zoya', 'Morgan', 'Alex']

In [101]:
len(n2)

3

In [ ]:
'''
    Difference between array and List
'''

In [125]:
# a=[1,2] b=[3,4] a+b = [4,6] ?
import numpy as np
a=np.array([1,2])
b=np.array([3,4])
a+b

array([4, 6])

In [126]:
import numpy as np
a=np.array([1,2])
b=np.array([3,4,5])
a+b

ValueError: operands could not be broadcast together with shapes (2,) (3,)

In [127]:
a=[1,2]
b=[3,4]
a+b #as a concat operation

[1, 2, 3, 4]

In [128]:
a=[1,2]
b=[3,4,5]
a+b

[1, 2, 3, 4, 5]

# 1.2.3 Tuple

In [102]:
'''
Tuple
    immutable
    Mostly store hoterogeneous objects - wrap and return more than one object    
'''

'\nTuple\n    immutable\n    Mostly store hoterogeneous objects - wrap and return more than one object    \n'

In [103]:
T=(1,3,5,7)

In [104]:
len(T)

4

In [105]:
T + (9,11) #concatination

(1, 3, 5, 7, 9, 11)

In [106]:
T[0]

1

In [107]:
x = 12.23
y = 23.34

In [108]:
coordinates = (x,y) #packing

In [109]:
coordinates

(12.23, 23.34)

In [110]:
(c1, c2) = coordinates #unpacking

In [111]:
c1

12.23

In [112]:
c2

23.34

In [113]:
coordinates = [(x, x**2) for x in range(0,10)]

In [114]:
coordinates

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [115]:
#unpacking
for (x,y) in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [116]:
#unpacking
for x,y in coordinates:
    print(x,y)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81

In [117]:
c = (2,3)

In [118]:
type(c)

tuple

In [119]:
c=(2)

In [120]:
type(c)

int

In [121]:
c= (2,) #construct tuple of single object

In [122]:
type(c)

tuple

In [123]:
c = 2,

In [124]:
type(c)

tuple

In [125]:
c = 2,3

In [126]:
type(c)

tuple

In [127]:
x = (1,2,3)
x.count(3)

1

In [128]:
sum(x)

6

In [129]:
sum x

SyntaxError: invalid syntax (<ipython-input-129-ba03e3994fff>, line 1)

In [130]:
type((2,))

tuple

In [131]:
type(2,)

int

In [132]:
type(2,3)

TypeError: type() takes 1 or 3 arguments

# 1.2.4 Ranges

In [133]:
'''
immutable
commonly used in for loop
    - loop through list of million values - no need to all values, 
    - use range instead - 3 values - start, end , step
'''

'\nimmutable\ncommonly used in for loop\n    - loop through list of million values - no need to all values, \n    - use range instead - 3 values - start, end , step\n'

In [134]:
range(5)

range(0, 5)

In [135]:
list(range(5))

[0, 1, 2, 3, 4]

In [136]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [137]:
list(range(1,13,2))

[1, 3, 5, 7, 9, 11]

# 1.2.5 Strings

In [1]:
'''
immutable sequence
'''

'\nimmutable sequence\n'

In [2]:
s ="Python"

In [3]:
len(s)

6

In [4]:
s[0]

'P'

In [5]:
s[-1] #last char

'n'

In [6]:
s[0:3]

'Pyt'

In [7]:
s[-3:] #last 3

'hon'

In [8]:
s[-0:0]

''

In [9]:
s[:]

'Python'

In [10]:
s

'Python'

In [11]:
"y" in s

True

In [12]:
"Y" in s

False

In [13]:
12 + 12

24

In [14]:
"Hello " +s  #polymorphism +

'Hello Python'

In [15]:
3*s

'PythonPythonPython'

In [16]:
s + 3

TypeError: must be str, not int

In [17]:
s + str(3)

'Python3'

In [18]:
dir(str) #attributes of string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [19]:
str.replace?  #help - Spyder

SyntaxError: invalid syntax (<ipython-input-19-3e0d540b6314>, line 1)

In [20]:
name = "Tina Fey"

In [25]:
name[0]='t' #immutable

TypeError: 'str' object does not support item assignment

In [26]:
name.replace("T","t") 
#original string is unchanged
#returns the result of the operation

'tina Fey'

In [33]:
name

'Tina Fey'

In [30]:
new_name = name.replace("T","t") 
# can stores the result of the operation in new variable

In [31]:
new_name

'tina Fey'

In [32]:
name

'Tina Fey'

In [34]:
names = name.split(" ")
#splits the string with a separator mentioned. In this case " "(space)
#Saves in List

In [35]:
names

['Tina', 'Fey']

In [36]:
type(names)

list

In [37]:
len(names)

2

In [38]:
names[0]

'Tina'

In [39]:
names[1]

'Fey'

In [40]:
type(names[1]) #type of element

str

In [41]:
names[0].upper() #respective opearations wrt type

'TINA'

In [42]:
" ".join([str(i) for i in range(10)]) #join function - String

'0 1 2 3 4 5 6 7 8 9'

In [46]:
import string
# String library string.digit function
" ".join([i for i in string.digits])

'0 1 2 3 4 5 6 7 8 9'

In [47]:
"2" * "2"

TypeError: can't multiply sequence by non-int of type 'str'

In [50]:
int("5")*"2"

'22222'

In [48]:
str(range(10))

'range(0, 10)'

In [53]:
x = "125,000"
x.isdigit()

False

# 1.2.6 Sets

In [ ]:
'''
About sets -
    Unordered collection of distinct hashable objects
    Used to store immutable objects - String, Numbers
    Not for mutable objects - List, Dictionaries
    
Types -
    set - mutable
    frozen set - immutable
    
Features -
    Cannot be indexed
    Elements can not be duplicated
    therefore, used to keep track of distinct object
    
Opearations -
    Union
    Intersect
    difference
'''

In [56]:
ids=set()
type(ids)

set

In [61]:
ids = set([1,2,4,6,7,8,9])
ids

{1, 2, 4, 6, 7, 8, 9}

In [62]:
len(ids)

7

In [63]:
ids.add(10)

In [64]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [65]:
ids.add(2)

In [66]:
ids

{1, 2, 4, 6, 7, 8, 9, 10}

In [67]:
ids.pop()

1

In [68]:
ids

{2, 4, 6, 7, 8, 9, 10}

In [69]:
ids.pop()

2

In [70]:
ids

{4, 6, 7, 8, 9, 10}

In [71]:
ids = set(range(10))

In [72]:
ids

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [73]:
males = set([1,3,5,6,7])

In [74]:
females = ids - males #difference - set operation

In [75]:
type(females)

set

In [76]:
females

{0, 2, 4, 8, 9}

In [77]:
males

{1, 3, 5, 6, 7}

In [78]:
everyone = males | females #union - set operation

In [79]:
everyone

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [80]:
everyone & set([1,2,3]) #intersections - set operation

{1, 2, 3}

In [81]:
word = "antidisestablishmentarianism"

In [82]:
unique_letters = set(word)

In [83]:
len(unique_letters)

12

In [84]:
len(word)

28

In [85]:
x = {1,2,3}
y = {2,3,4}

In [86]:
x|y

{1, 2, 3, 4}

In [87]:
x&y

{2, 3}

In [88]:
(x|y)-(x&y) #symmetric_difference - Set operation

{1, 4}

In [89]:
x^y #symmetric_difference - Set operation

{1, 4}

In [90]:
x = {1,2,3}
y = {2,3,4}
set.symmetric_difference(x,y)

{1, 4}

In [91]:
x.symmetric_difference(y)

{1, 4}

In [92]:
x in y

False

In [93]:
x.issubset(y)

False

# 1.2.7 Dictionaries

In [94]:
'''
    key-value mapping
    key immutable
    value mutable
    dictionary mutable
    no sequece - no order - no index - use keys to access elements
'''

'\n    key-value mapping\n    key immutable\n    value mutable\n    dictionary mutable\n    no sequece - no order - no index - use keys to access elements\n'

In [99]:
age ={}
type(age)

dict

In [100]:
age = dict()
type(age)

dict

In [102]:
age = {"Tim": 29, "Jim":31, "Pam":27}
age

{'Jim': 31, 'Pam': 27, 'Tim': 29}

In [103]:
age["Pam"]

27

In [105]:
age["Tim"] = age["Tim"]+1 #opearations on data type of values
age["Tim"]

31

In [106]:
age["Tim"] += 1
age["Tim"]

32

In [109]:
names = age.keys()
type(names) #view object - provide dynamic view

dict_keys

In [113]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Tom'])

In [111]:
age["Tom"]= 50 #add new element to dictionary

In [112]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Tom'])

In [115]:
ages = age.values()
type(ages)

dict_values

In [116]:
ages

dict_values([32, 31, 27, 50])

In [117]:
age["Nick"] = 31

In [118]:
names

dict_keys(['Tim', 'Jim', 'Pam', 'Tom', 'Nick'])

In [119]:
"Tom" in age

True

In [120]:
"Zoya" in age

False

In [121]:
age[0] #elements cannot be accessed by index

KeyError: 0

In [122]:
age[(1,2,3)] = 40
age

{(1, 2, 3): 40, 'Jim': 31, 'Nick': 31, 'Pam': 27, 'Tim': 32, 'Tom': 50}

In [123]:
age[[2,4]] = 32
age # List - unhashable type error

TypeError: unhashable type: 'list'

In [124]:
#edit key age['Tim'] to age['Tom'] - not possble
#keys are immutable

# 1.3.1 Dynamic Typing

In [ ]:
'''
Datatypes Stored in the form of bits 0,1 sequence
types - to interpret rules applied to variables - number of bits

Static type - C,C++ - data type checked at coompile time
dynamic type - Python - data type checked at run time

x = 3
    x variable created
    3 object is created
    x -> 3 ref is created
    

'''

In [129]:
'''
    x = 3    x -> 3
    y = x    y -> ^
    y = y-1  y -> 2 (new object) 
'''
x=3
y=x
y is x

True

In [145]:
#immutable objects
'''
    y changes -> x does not change
'''

x=3
y=x
y=x-1
y

2

In [146]:
x

3

In [149]:
x=2
y=2
x == y

True

In [150]:
x is y

True

In [151]:
id(x)

1952345600

In [152]:
id(y)

1952345600

In [140]:
#mutable objects 
'''
    L1 changes -> L2 changes
'''
L1 = [2,3,4]
L2 = L1
L2

[2, 3, 4]

In [143]:
L1[0]=10
L1

[10, 3, 4]

In [144]:
L2

[10, 3, 4]

In [147]:
L = [1,2,3]
M = [1,2,3]
L== M

True

In [148]:
L is M

False

In [153]:
id(L)

160460360

In [154]:
id(M)

162747464

In [156]:
L = [1,2,3]
M = L
M is L

True

In [157]:
N = list(L)
N is L

False

In [158]:
N == L

True

In [159]:
M = L[:] #copying every single element into New List

In [160]:
M is L

False

In [161]:
M == L

True

# 1.3.2 Copies

In [ ]:
'''
copy module 
    - Creating identical copies of object
    
Types 
    Shallow copy 
        - new compound object 
        - insert reference to original object
        - x : a,b : x'
    deep copy 
        - new compound object 
        - recurrsively insert copies of it into object
        - x : a,b  
         x' : a',b' - recursive update
'''

In [164]:
import copy
x = [1,[2]]
y = copy.copy(x)
z = copy.deepcopy(x)
y is z

False

# 1.3.3 Statements

In [ ]:
'''
Uses
    compute values
    assign values
    modify attributes
    
imple statements
    return - return vallues from function
    import - import modules
    pass - do nothing or place holder

compound statements
    group of statements to perform operation
    one or more clauses - header and block codes
    keywords(def, if) in the begining, : in the end
    indentation - tab, space
'''

In [173]:
if(False):
    print('Statement is True')
print('prints no matter what!')

prints no matter what!

In [174]:
if False:
    print('False')
elif True:
    print('True')
else:
    print('Finally True')

True

# 1.3.4 For and While loops

In [ ]:
'''
    sequence of statement run multiple times
    for - know in advance how many times need to run block of code
    while - check condition and run
    break - early termination of loop
'''

In [175]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [176]:
names = ['Tim', 'Jim', 'Pam', 'Tom', 'Nick', 'Sam']
for name in names:
    print(name)

Tim
Jim
Pam
Tom
Nick
Sam

In [177]:
#like index, not like python
for i in range(len(names)):
    print(names[i])

Tim
Jim
Pam
Tom
Nick
Sam

In [179]:
age = {'Jim': 31, 'Nick': 31, 'Pam': 27, 'Tim': 20, 'Tom': 50}
age

{'Jim': 31, 'Nick': 31, 'Pam': 27, 'Tim': 20, 'Tom': 50}

In [180]:
for name in age.keys():
    print(name, age[name])

Jim 31
Nick 31
Pam 27
Tim 20
Tom 50

In [181]:
# no need to mention age.keys() explicitely. Just age
for name in age:
    print(name, age[name])

Jim 31
Nick 31
Pam 27
Tim 20
Tom 50

In [182]:
#sorted order
for name in sorted(age.keys()):
    print(name, age[name])

Jim 31
Nick 31
Pam 27
Tim 20
Tom 50

In [183]:
#sorted in reverse order
for name in sorted(age.keys(), reverse = True):
    print(name, age[name])

Tom 50
Tim 20
Pam 27
Nick 31
Jim 31

In [184]:
age

{'Jim': 31, 'Nick': 31, 'Pam': 27, 'Tim': 20, 'Tom': 50}

In [185]:
age.values()

dict_values([31, 31, 27, 20, 50])

In [186]:
sorted(age.values())

[20, 27, 31, 31, 50]

In [187]:
age

{'Jim': 31, 'Nick': 31, 'Pam': 27, 'Tim': 20, 'Tom': 50}

In [188]:
#sort works with keys. Do not work with values
for name in sorted(age.values()):
    print(name, age[name])

KeyError: 20

In [189]:
'''
while - testing cond
if you dont know the exact number of count to iterate
'''

bears = {"Grizzly":"angry", "Brown":"friendly", "Polar":"friendly"}

for bear in bears:
    if bears[bear] == "friendly":
        print("Hello, "+bear+" bear!")
else:
    print("odd")

Hello, Brown bear!
Hello, Polar bear!
odd

In [191]:
n =19
is_prime = True
for i in range(2,n):
    if n%i == 0:
        is_prime = False
print(is_prime)

True

In [192]:
n=100
number_of_times = 0
while n >= 1:
    n //= 2
    number_of_times += 1
print(number_of_times)

7

# 1.3.5 List Comprehensions

In [ ]:
'''
    operation -> new list
'''

In [193]:
numbers = range(10)

In [194]:
squares = []

In [195]:
for number in numbers:
    square = number**2
    squares.append(square)

In [196]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [197]:
squares2 = [number ** 2 for number in numbers]

In [198]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [199]:
sum([i**2 for i in range(3)])

5

In [200]:
sum([i**2 for i in range(10) if i%2==1])

165

# 1.3.6 Reading & Writing files

In [201]:
filename = "input.txt"

for line in open(filename):
    print(line)

first line

second line

third line

In [202]:
for line in open(filename):
    line = line.rstrip() #rstrip removes '\n' from the end of line
    print(line)

first line
second line
third line

In [203]:
for line in open(filename):
    line = line.rstrip().split(' ')
    print(line)

['first', 'line']
['second', 'line']
['third', 'line']

In [ ]:
f = open("output.txt", "w")

f.write("python\n")

f.close()

In [206]:
F = open("input1.txt", "w")
F.write("Hello\nWorld")
F.close()

lines = []
for line in open("input1.txt"):
    lines.append(line.strip())
print(lines)

['Hello', 'World']

In [ ]:
'''
Functions - procedural decomposition
return
'''
def add(a,b):
    mysum = a + b
    return mysum

In [ ]:
add(12,15)

In [ ]:
def add_and_sub(a,b):
    mysum = a+b
    mydiff = a-b
    return (mysum, mydiff) #return tuple object

In [ ]:
add_and_sub(15,12)

In [ ]:
add

In [ ]:
newadd = add

In [ ]:
add(2,5)

In [ ]:
newadd(2,5)

In [ ]:
def modify(mylist):
    mylist[0]*=10

In [ ]:
L=[1,3,5,7,9]
modify(L)
L

In [ ]:
def modify(mylist):
    mylist[0] *= 10
    return(mylist)
L = [1, 3, 5, 7, 9]
M = modify(L)
M is L

In [ ]:
def intersect(s1,s2):
    res = []
    for x in s1:
        if x in s2:
            res.append(x)
    return res

In [ ]:
intersect([1,2,3,4],[3,4,5,6])

In [ ]:
import random

In [ ]:
random.choice([1,2,3,4])

In [ ]:
random.choice([1,2,3,4])

In [ ]:
random.choice("abcdef")

In [ ]:
random.choice("abcdef")

In [ ]:
def password(length):
    pw = str() #create empty string
    characters = "abcdefghijklmnopqrstuvwxyz"+"0123456789"
    for i in range(length):
        pw = pw + random.choice(characters)
    return pw

In [ ]:
password(10)

In [ ]:
intersect([1,2,3],[3,4,5,6])

In [ ]:
def is_vowel(letter):
    if letter in 'aeiouy':
        return(True)
    else:
        return(False)

In [ ]:
is_vowel('w')

In [ ]:
is_vowel(4)

In [ ]:
def is_vowel(letter):
    if type(letter) == int:
        letter = str(letter)
    if letter in "aeiouy":
        return(True)
    else:
        return(False)

In [ ]:
is_vowel(4)

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        N = 1
        for i in range(1, n+1):
            N = N*i
        return(N)

In [ ]:
factorial(8)

In [ ]:
type(L)

In [ ]:
L[5]

In [ ]:
len(L)

In [ ]:
L.add(8)

In [ ]:
L.append(8)

In [ ]:
L

In [ ]:
D = {"1":"aa", "2":"bb", "3":"cc"}

In [ ]:
D.keys()

In [ ]:
D.values()

In [ ]:
D[1]

In [ ]:
D["1"]

In [ ]:
"Python"[0]="p"

In [ ]:
"Python" + 3

In [ ]:
"Python" + str(3)

In [ ]:
import string

In [ ]:
alphabet = string.ascii_letters
alphabet

In [ ]:
from collections import defaultdict 
  
test_dict = defaultdict(int) # Initialize dictionary 
  
print("The original dictionary : " +  str(dict(test_dict))) # printing original dictionary 

test_dict['best'] += 3

print("Dictionary after the increment of key : " + str(dict(test_dict))) # printing result

In [ ]:
sentence = 'Jim quickly realized that the beautiful gowns are expensive'

count_letters = {}

alphabet = string.ascii_letters

for alpha in alphabet:
    count_letters[alpha]= 0

count_letters
    
for i in sentence:
    if i not in alphabet:
        continue
        
    count_letters[i] += 1
    
count_letters

In [ ]:
import string

def counter(sentence):
    count_letters = {}
    
    alphabet = string.ascii_letters

    for alpha in alphabet:
        count_letters[alpha]= 0

    count_letters
    
    for i in sentence:
        if i not in alphabet:
            continue
        
        count_letters[i] += 1
    
    return count_letters

In [ ]:
sentence = 'Jim quickly realized that the beautiful gowns are expensive'

count_letters = counter(sentence)

count_letters

In [ ]:
address = """Four score and seven years ago our fathers brought forth on this continent, a new nation, 
conceived in Liberty, and dedicated to the proposition that all men are created equal. Now we are engaged in a 
great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. 
We are met on a great battle-field of that war. We have come to dedicate a portion of that field, as a final 
resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper 
that we should do this. But, in a larger sense, we can not dedicate -- we can not consecrate -- we can not hallow -- 
this ground. The brave men, living and dead, who struggled here, have consecrated it, far above our poor power to add 
or detract. The world will little note, nor long remember what we say here, but it can never forget what they did here. 
It is for us the living, rather, to be dedicated here to the unfinished work which they who fought here have thus far so 
nobly advanced. It is rather for us to be here dedicated to the great task remaining before us -- that from these honored 
dead we take increased devotion to that cause for which they gave the last full measure of devotion -- that we here 
highly resolve that these dead shall not have died in vain -- that this nation, under God, shall have a new birth of 
freedom -- and that government of the people, by the people, for the people, shall not perish from the earth."""   

# Write your code here!
address_count = counter(address)

address_count

In [ ]:
max_val = max(address_count.values())

max_key = [k for k, v in address_count.items() if v==max_val]

max_key

In [ ]:
import math
math.pi/4

In [ ]:
import random
random.uniform(-1,1)

In [ ]:
import random

random.seed(1) # Fixes the see of the random number generator.

def rand():
   # define `rand` here!
    return random.uniform(-1,1)

In [ ]:
rand()

In [ ]:
def distance(x, y):
   # define your function here!
    return ((x[0]-y[0])**2 + (x[1]-y[1])**2)**0.5

In [ ]:
x=[0,0]
y=[1,1]
distance(x,y)

In [ ]:
def in_circle(x, origin = [0,0]):
   # Define your function here!
    return 1 > distance(x,origin)

In [ ]:
in_circle([0.5,0.5], origin = [0,0])

In [ ]:
in_circle([1,1], origin = [0,0])

In [ ]:
in_circle([0,1], origin = [0,0])

In [ ]:
random.seed(1) 
R = 10000
inside = []
for i in range(R):
    if(in_circle([rand(),rand()], origin = [0,0])):
        inside.append(in_circle([rand(),rand()], origin = [0,0]))
    
len(inside)/R

In [ ]:
(math.pi / 4) - (len(inside)/R)

In [ ]:
def moving_window_average(x, n_neighbors=1):
    n = len(x)
    width = n_neighbors*2 + 1
    x = [x[0]]*n_neighbors + x + [x[-1]]*n_neighbors
    # To complete the function,
    # return a list of the mean of values from i to i+width for all values i from 0 to n-1.
    return [sum(x[i:i+width])/width for i in range(n)]
x = [0,10,5,3,1,5]
print(moving_window_average(x, 1))

In [ ]:
def moving_window_average(x, n_neighbors=1):
    n = len(x)
    width = n_neighbors*2 + 1
    x = [x[0]]*n_neighbors + x + [x[-1]]*n_neighbors
    # To complete the function,
    # return a list of the mean of values from i to i+width for all values i from 0 to n-1.
    return [(sum(x[i:i+width]))/width for i in range(n)]
x = [0,10,5,3,1,5]
print(moving_window_average(x, 2))

In [ ]:
def moving_window_average(x, n_neighbors=1):
    n = len(x)
    width = n_neighbors*2 + 1
    x = [x[0]]*n_neighbors + x + [x[-1]]*n_neighbors
    # To complete the function,
    # return a list of the mean of values from i to i+width for all values i from 0 to n-1.
    print(x)
    return [sum(x[i:i+width])/width for i in range(n)]
    
x = [0,10,5,3,1,5]
print(moving_window_average(x, 1))

In [ ]:
x = [0,10,5,3,1,5]
x[0]

In [ ]:
x[-1]

In [ ]:
z[:]

In [ ]:
rf=[]

In [ ]:
type(rf)

In [ ]:
random.uniform(0,1)

In [ ]:
import random
random.seed(1) # This line fixes the value called by your function,
               # and is used for answer-checking.
R = 5
x = []
type(x)
# write your code here!
for i in range(R):
    x.append(random.uniform(0,1))

y = []
for i in range(1,3):
    y.append(moving_window_average(x, i))
    
y

In [ ]:
z=[]

for i in y:
    z.append(max(i) - min(i))

In [ ]:
z

In [ ]:
min(a)

In [ ]:
max(a)

In [ ]:
max(a)-min(a)

In [ ]:
def moving_window_average(x, n_neighbors=1):
    n = len(x)
    width = n_neighbors*2 + 1
    x = [x[0]]*n_neighbors + x + [x[-1]]*n_neighbors
    # To complete the function,
    # return a list of the mean of values from i to i+width for all values i from 0 to n-1.

    return [sum(x[i:i+width])/width for i in range(n)]

x = [0,10,5,3,1,5]
y =(moving_window_average(x, 1))
y

In [ ]:
import random
random.seed(1) # This line fixes the value called by your function,
               # and is used for answer-checking.
R = 1000
x = []
# write your code here!
for i in range(R):
    x.append(random.uniform(0,1))

y = []
for i in range(1,10):
    y.append(moving_window_average(x, i))
    
y

In [ ]:
import random
random.seed(1) # This line fixes the value called by your function,
               # and is used for answer-checking.
R = 1000
x = []
# write your code here!
for i in range(R):
    x.append(random.uniform(0,1))

y1 = []
y1 = moving_window_average(x, 5)
y1